language: node_js
sudo: false
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
node_js:
  - 4
  - 6
install:
  - npm install
  - npm install sails
branches:
  only:
  - master
script:
    nv=$(node -v)
    if [[ $nv == v4* ]] ;
    then
        npm run-script test:v4-travis;
    else
        npm run-script test:v6-travis;
    fi
after_success:
  - npm run-script upload-to-coveralls
