<div class="form-group">
    <label for="date" class="data-label"><%= __('date') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="date" name="date"></input>
    </div>
</div>
<div class="form-group">
    <label for="tags" class="data-label"><%= __('tags') %></label>
    <div class="data-input-div">
        <input type="hidden" class="form-control" id="tags" name="tags"></input>
    </div>
</div>
<div class="form-group">
    <label for="notes" class="data-label"><%= __('notes') %></label>
    <div class="data-input-div">
        <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
    </div>
</div>
<div class="metadatacomponent-body"></div>
