<h2><%= __("data-type-list") %></h2> 

<div id="content">
    <div class="table-responsive">
        <table class="table striped">
            <thead>
                <tr>
                    <th><%= __("name") %></th>
                    <th><%= __("json-schema") %></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="buttonbardiv" class="row text-center">
        <a href="#/datatypes/new" class="btn btn-primary"><%= __("new-data-type")%></a>
    </div>
</div>

