
<head>

<script>

function MyFunc()
{
    $.ajax({
type: "GET",

url:"http://130.251.10.60:8080/irods-rest-4.0.2.1-SNAPSHOT/rest/fileContents/biolabZone/home/superbiorods/pippo.txt",
//url:"http://10.186.10.60:8080/irods-rest-4.0.2.1-SNAPSHOT/rest/fileContents/biolabZone/home/superbiorods/pippo.txt",
beforeSend: function (xhr) {
// xhr.withCredentials = true;

xhr.setRequestHeader("Authorization", "Basic " + btoa("superbiorods" + ":" + "superbio05!"));
// xhr.setRequestHeader("Access-Control-Allow-Origin","*");
},

xhrFields: { withCredentials: true },
crossDomain: true,


processData:false,
contentType:false,

}).done(function(data) {
    console.log(data);
    });


}

</script>
</head>
<body>
<p>
Please specify a file, or a set of files:<br>
<input type="file" name="datafile" size="40">
</p>
<button value="Upload" id="upload" onclick="MyFunc()">Download</button>

</body>


