


<script>

function MyFunc()
{
$.ajax({
            type: "POST",

            url: '/download-file',
           
        });

   
}
</script>
<form>
    <button id="login"type="submit"onclick="MyFunc()">Download</button>
    
</form>
