<div class="metadata-descr-div">
  <div id="decription-icon" class="fa fa-question-circle fa-2x <%=component.formattedName%>" data-title="<%=component.name%>" data-content="<%=component.description%>" data-placement="right"></div>
</div>
