<div class="dropzone">
    <div class="dz-default dz-message text-center">
        <span><%= __('drop-files-here') %></span>
    </div>
    <div class="fallback">
        <input name="file" type="file">
    </div>
</div>
<div class="query-modal"></div>
