<h2 id="account" class="legend">Welcome <%= sessionStorage.getItem("firstName").charAt(0).toUpperCase() + sessionStorage.getItem("firstName").slice(1) %> <%= sessionStorage.getItem("lastName").charAt(0).toUpperCase() + sessionStorage.getItem("lastName").slice(1)%>!</h2> 
