<h2 id="account" class="legend">Account Login</h2> 
<!--
<script>
    $("#login").click(function(){
        var username = $("#userName").val();
        var password = $("#userPass").val();
    	 var router = xtens.router; 
        
        if (username && password) {
           $.post( '/login',
                {login: username, password:password},
                function (err,res,body) {
                   // console.log(body.responseJSON.login);
                  //  router.navigate('#/operators',{trigger: true, user:body.responseJSON.login});
                sessionStorage.setItem("firstName",body.responseJSON.firstName);
                sessionStorage.setItem("lastName",body.responseJSON.lastName);
                router.navigate('#/homepage',{trigger: true});          
    }
            ).fail(function(res){
             alert("Error: " + res.responseJSON.error);
            });
        } else {
            alert("A username and password is required");
        }
    });
            </script>
            -->
<style type="text/css">
input {
    color: #555;
    line-height: 1.428571429;
    height: 34px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 280px;
    margin: 0;
    padding-left:10px;
}

#nav2 {
    display:none;
}

h2#account{
    font-size:20px;
    line-height: 30px;
    color: #555;
    font-family: 'Helvetica',Gadget, sans-serif;
    font-weight: normal;
}

</style>

<form name = "LForm" id="form" class="form-horizontal login-form" role="form">
    <div id="log">  
        <input name="user" type="text" id="username" placeholder="User Name"><br /><br />
        <input type="password" id="password" placeholder=" Password"><br /><br/>   
    </div>
    <div>
        <a id="login" class="btn btn-primary">Log in</a>
    </div>
</form>
