<div class="form-group metadataform-group">
    <span class="metadata-label"><%= component.name %></span>
    <div class="metadata-value-div">
        <input type="checkbox" name="fieldValue">
    </div>
</div>
