<div class="metadataform-group">
        <label class="metadata-label"><%= component.name %></label>
        <div class="metadata-value-div">
            <input type="range" min="<%= component.min %>" max="<%= component.max %>" step="<%= component.step %>" 
            name="fieldValue" class="form-control" >
        </div>
        <% if (component.hasUnit) {%>
            <div class="metadata-unit-div">
                <select name="fieldUnit" class="form-control"></div>
            </div>
        <%}%>
</div>
