<h4 class="metadataloop-header"><%= component.name.toUpperCase() %></h4>
<div class="metadataloop-body"></div>
<div class="text-center">
    <div class="btn-group btn-group-margin">
        <input type="button" class="btn btn-info" value="<%=__('add-loop') %>">
    </div>
</div>
