<div class="form-group metadataform-group">
    <label class="metadata-label"><%= format(component.name) %></label>
    <div class="metadata-value-div">
        <select name="fieldValue" class="form-control" ></select>
    </div>
    <% if (component.hasUnit) {%>
    <div class="metadata-unit-div">
        <select name="fieldUnit" class="form-control"></div>
    </div>
    <%}%>
</div>
