<div class="form-group metadataform-group">
    <span class="metadata-label"><%= component.name %></span>
    <div class="metadata-value-div">
        <input text name="fieldValue" class="form-control" >
    </div>
    <% if (component.hasUnit) {%>
    <div class="metadata-unit-div">
        <select name="fieldUnit" class="form-control"></div>
    </div>
    <%}%>
</div>
