<h4>
    <a class="remove-me">
        <span class="fa fa-times-circle"></span>
    </a>
    <%= __("loop") %>
    </br>
</h4>
<div class="metadataLoop-body"></div>
<div class="row text-center">
    <input type="button" class="btn btn-default add-metadata-field" value="<%=__('add-attribute') %>">
</div>
