<h4><%= __('loop') + ' - ' + component.name %></h4>
<div class="metadataloop-body"></div>
<div class="row text-center">
    <div class="btn-group btn-group-margin">
        <input type="button" class="btn btn-info" value="<%=__('add-loop') %>">
    </div>
</div>
