<h4 class="row">
    <a class="remove-me">
        <span class="fa fa-times-circle"></span>
    </a>
    <%= __("group") + " " + id %>
    </br>
</h4>
<div class="form-group row">
    <label for="groupName" class="col-md-3 control-label"><%= __("metadata-group-name") %></label>
    <div class="col-md-9">
        <input text class="form-control" id="groupName" name="groupName" placeholder="Metadata Group Name">
    </div>
</div>
<div class='metadata-group-body'></div>
<div class="row text-center">
    <input type="button" class="btn btn-default add-metadata-loop" value="<%=__('add-loop') %>">
    <input type="button" class="btn btn-default add-metadata-field" value="<%=__('add-attribute') %>">
</div>
