<h4 class="">
    <a>
        <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
    <%= __("group") %>
    </br>
</h4>
<div class="form-group row">
    <label for="groupName" class="col-md-3 control-label"><%= __("group-name") %></label>
    <div class="col-md-9">
        <input text class="form-control" id="groupName" name="groupName" placeholder="Metadata Group Name">
    </div>
</div>
<div class="form-group row">
    <input type="button" class="btn btn-default" value="<%=__('add-loop') %>">
    <input type="button" class="btn btn-default" value="<%=__('add-attribute') %>">
</div>
