<div id="adminAssociation">


    <form name = "Myform" class="form-horizontal operator-association-form" role="form">

        <h2 class="legend" align="center"><%= __("operator") %></h2> 



        <label for="associated" class="col-md-3 control-label"><%= __("associated-operators") %></label>
        
        <div id="associated" class="form-group row">

            <div draggable="true">Pippo</div>
            <div draggable="true">Pluto</div>
        </div>
        <div id="nomember" class="form-group row">
            <div draggable="true">1</div>
            <div draggable="true">2</div>

        </div>


    </form>
</div>
