
<div class="row margin-row">
    <label for="givenName" class="data-label"><%= __('given-name') %></label>
    <div class="data-input-div">
        <span  class="data-span" id="givenName" name="givenName" ></span>
    </div>
</div>
<div class="row margin-row">
    <label for="surname" class="data-label"><%= __('surname') %></label>
    <div class="data-input-div">
        <span  class="data-span" id="surname" name="surname" ></span>
    </div>
</div>
<div class="row margin-row">
    <label for="notes" class="data-label"><%= __('birth-date') %></label>
    <div class="data-input-div">
        <div id="birthDate" name="birthDate" class="data-span" ></div>
    </div>
</div>
