<div class="form-group">
    <span class="query-label"><%= __("search-for:") %></span>
    <div class="query-field-div">
        <select name="pivot-data-type" class="form-control"></select>
    </div>
    <button name="add-field" type="button" class="btn btn-info hidden"><%= __("add-field-condition") %></button>
    <button name="add-loop" type="button" class="btn btn-info hidden"><%= __("add-loop-condition") %></button>
    <button name="add-nested" type="button" class="btn btn-primary hidden"><%= __("add-nested-condition") %></button>
</div>
