<div class="form-group">
    <span class="query-label"><%= __("field-name") %></span>
    <div class="query-field-div">
        <select name="field-name" class="form-control"></select>
    </div>
</div>
