<span class="query-label"><%= __("field-name") %></span>
<div class="query-field-div">
    <select name="field-name" class="form-control"></select>
</div>
<div class="query-comparator">
    <input type="text" name="comparator"  class="form-control hidden">
</div>
<div name="query-value-div" class="query-value-div"></div>
<div class="query-unit-div">
    <input type="text" name="unit" class="form-control hidden">
</div>
<div class="btn-group">
    <button class="btn remove-me-field"><span class="fa fa-times-circle"></span></button>
</div>
