<div class="query-row form-group">
    <span class="query-label"><%= __("subject-code") %></span>
    <div class="query-comparator">
        <input type="hidden" name="code-comparator" class="form-control">
    </div>
    <div name="code-div" class="query-value-div">
        <input text name="code" class="form-control">
    </div>
    <span class="query-label"><%= __("sex") %></span>
    <div class="query-comparator">
        <input type="hidden" name="sex-comparator" class="form-control">
    </div>
    <div name="query-value-div" class="query-value-div">
        <input type="hidden" name="sex" class="form-control">
    </div>
</div>
