<div class="form-group">
    <span class="query-label"><%= __("loop-name") %></span>
    <div class="query-field-div">
        <select name="loop-name" class="form-control"></select>
    </div>
</div>
<div class="query-loop-body"></div>
