<h2><%= __("query-builder") %></h2>
<div id="content">
    <form id="query-form" class="form-horizontal query-form" role="form">
    </form>
    <div id="buttonbardiv" class="row text-center">
        <div class="btn-group btn-group-margin">
            <input type="button" id="search" class="btn btn-primary" value="<%=__('search') %>" >
        </div>
    </div>
    <div id="result-table" class="row"></div>
</div>
