<h2><%= __("query-builder") %></h2>
<div id="content">
    <form id="query-form" class="form-horizontal query-form" role="form">
        <div class="form-group">
            <span class="query-label"><%= __("search-for:") %></span>
            <div class="query-field-div">
                <select id="pivot-data-type" name="pivot-data-type" class="form-control"></select>
            </div>
            <button id="add-condition" type="button" class="btn btn-info hidden"><%= __("add-condition") %></button>
        </div>
    </form>
    <div id="buttonbardiv" class="row text-center">
        <div class="btn-group btn-group-margin">
            <input type="button" id="search" class="btn btn-primary" value="<%=__('search') %>" >
        </div>
    <div>
</div>
