<div class="form-group"></div>
<div class="form-group metadataform-group">
    <label for="code" class="data-label"><%= __('code') %></label>
    <div class="data-input-div">
        <input text class="form-control" id="code" name="code"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="project" class="data-label"><%= __('project') %></label>
    <div class="data-input-div">
        <select class="form-control" id="project" name="project"></select>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="tags" class="data-label"><%= __('tags') %></label>
    <div class="data-input-div">
        <input type="hidden" class="form-control" id="tags" name="tags"></input>
    </div>
</div>
<div class="form-group metadataform-group">
    <label for="notes" class="data-label"><%= __('notes') %></label>
    <div class="data-input-div">
        <textarea class="form-control" id="notes" name="notes" rows="4"></textarea>
    </div>
</div>
<div class="metadatacomponent-body"></div>
