<nav id="xtensNav" name="xtensNav" class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <svg height="50" width="200">
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(0,255,255);stop-opacity:1" />
            <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
            </linearGradient>
            <text x="30" y="40" fill = "url(#grad1)" font-family="ff-market-web, cursive" font-size="40">XTENS</text>

        </svg>

    </div>
</nav>
<nav class="navbar navbar-default" id="menuBarNav" name="menuBarNav" role="navigation"></nav>
<div id="main" class="container"></div> 
