<script>
Dropzone.options.droppi = {
headers:{ "Authorization" : "Basic " + btoa("superbiorods" + ":" + "superbio05!")}
};

</script>
<form id="droppi" action="http://10.186.10.60:8080/irods-rest-4.0.2.1-SNAPSHOT/rest/fileContents/biolabZone/home/superbiorods/provadroppi" class="dropzone" enctype="multipart/form-data">
  <div class="fallback" id="droppi">Drop here a file or (click)
    <input name="file" type="file" multiple />
  </div>
</form>



