@dt-width: 95%;
@main-color: #fff; 
@content-color: #fff;
@border-width: 3px;
@border-width-metadatafield: 2px;
@border-style: solid solid;
.hidden {
    display: none;
}
.btn-group-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
#main {
    background-color: @main-color;
}
.dataType {
    width: 100%;
}
.dataType-edit .dataType {
}
.dataType .metadataGroup {
    .make-xs-column(10);
    .make-xs-column-offset(1);
    border-color: @brand-primary;
    border-width: @border-width;
    border-style: @border-style;
}
.dataType .metadataGroup-body {
    .make-row();
}
.dataType .metadataLoop {
    .make-xs-column(12);
    border-color: @brand-info;
    border-width: @border-width;
    border-style: @border-style;
}
.dataType .metadataLoop-body {
    .make-row();
}
.dataType .metadataField {
    .make-xs-column(12); 
    border-color:  @brand-primary;
    border-width: @border-width-metadatafield;
    border-style: @border-style;
   
}
.dataType .metadataField-formgroup {
    .form-group;
}
.dataType .metadataField-row {
    .make-row();
}
.dataType .metadataField-half {
    .make-sm-column-offset(0);
    .make-sm-column(4);
    .make-xs-column-offset(0);
    .make-xs-column(10);
}
.dataType .metadataField-third {
    .make-xs-column(4);
}
.dataType .metadataField-sixth {
    .make-sm-column(2);
    .make-xs-column(4);
}
.dataType .metadataField-range {
    .make-sm-column(2);
    .make-xs-column(4);
    display: none;
}
.dataType div.metadataField-third input, select {
}
.data {
    width:100%;
}
.data .data-row {
    .make-row();
}
.data .data-label {
    .make-sm-column(2);
    .make-xs-column(4);
}
.data .data-input-div {
    .make-sm-column(6);
    .make-xs-column(8);
}
