@dt-width: 95%;
@main-color: #fff;
@content-color: #fff;
@border-width: 3px;
@border-width-sm: 2px;
@border-width-metadatafield: 2px;
@border-width-query: 2px;
@border-style: solid solid;
.hidden {
    display: none;
}
.btn-group-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    margin-bottom:10px;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
.dataType {
    width: 100%;
}
.dataType-edit .dataType {
}
.dataType .metadataGroup {
    .make-xs-column(10);
    .make-xs-column-offset(1);
    border-color: @brand-primary;
    border-width: @border-width;
    border-style: @border-style;
}
.dataType .metadataGroup-body {
    .make-row();
}
.dataType .metadataLoop {
    .make-xs-column(12);
    border-color: @brand-info;
    border-width: @border-width;
    border-style: @border-style;
}
.dataType .metadataLoop-body {
    .make-row();
}
.dataType .metadataField {
    .make-xs-column(12);
    border-color:  @brand-primary;
    border-width: @border-width-metadatafield;
    border-style: @border-style;

}
.dataType .metadataField-formgroup {
    margin-top:10px;
    margin-bottom:10px;
}
.dataType .metadataField-row {
    .make-row();
}
.dataType .metadataField-half {
    .make-sm-column-offset(0);
    .make-sm-column(4);
    .make-xs-column-offset(0);
    .make-xs-column(10);
}
.dataType .metadataField-third {
    .make-xs-column(4);
}
.dataType .metadataField-sixth {
    .make-sm-column(2);
    .make-xs-column(4);
}
.dataType .metadataField-range {
    .make-sm-column(2);
    .make-xs-column(4);
    display: none;
}
.dataType div.metadataField-third input, select {
}
.data {
    width:100%;
}
.data .data-header-cnt {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}
.data .data-header-row {
    display: table-row;
}
.data .data-header-col {
    .make-xs-column(8);
    display: table-cell;
    float: none;
}
.data .dropzone {
    .make-xs-column(4);
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.data .data-row {
    .make-row();
}
.data .metadataform-group {
    .form-group();
    .make-xs-column(12);
}
.data .metadatacomponent-body {
    .make-row();
}
.data .metadataschema {
    .make-xs-column(12);
}
.data .data-label {
    /* .make-sm-column(2); */
    .make-xs-column(3);
}
.data .data-span {
    /* .make-sm-column(2); */
    .make-xs-column(3);
}
.data .data-value{
    overflow-x: auto;
    overflow-wrap: break-word;
    max-height: 250px;
}
.data .data-input-div {
    /* .make-sm-column(6); */
    .make-xs-column(9);
}
.data .margin-row {
    /* .make-sm-column(6); */
    margin-bottom:20px;
}
.data .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.data .metadata {
    .make-xs-column(12);
    border-color: @brand-primary;
    border-width: @border-width;
    border-style: @border-style;
}
.data .metadatagroup {
    .make-xs-column(12);
    border-color: @brand-primary;
    border-width: @border-width;
    border-style: @border-style;
    margin-bottom:10px;
}
.data .metadatagroup-header {
    .text-center;
    .bg-primary;
    font-weight:bold;
    padding: 4px 0;
}
.data .metadataloop {
    .make-xs-column(12);
    border-color: @brand-info;
    border-width: @border-width;
    border-style: @border-style;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:15px;
}
.data .metadataloop-header {
    .text-center;
    .bg-info;
    font-weight:bold;
    padding: 3px 0;
}

.data .metadataloop-body {
    max-height: 300px;
    overflow-y: auto;
}

div.metadataloop-body > div.metadatacomponent-body {
    border-color: @brand-info;
    border-width: @border-width-sm;
    border-style: @border-style;
    margin-left: 0px;
    margin-right: 0px;
    padding-top:15px;
}
.data .metadatafield {
    .make-sm-column(12);
    .make-xs-column(12);
}
.data .metadata-label {
    .make-sm-column(2);
    .make-xs-column(3);
}
.data .metadata-value-div {
    .make-sm-column(6);
    .make-xs-column(8);
}
.data .metadata-descr-div {
    .make-sm-column(1);
    .make-xs-column(1);
}
.data .metadata-unit-div {
    .make-sm-column(2);
    .make-xs-column(3);
}
.data span {
    font-weight:bold;
}
.data .file-list {
    margin-bottom: 10px;
}
.biobank {
    width: 100%;
}
.biobank h2,h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.biobank .biobank-label {
    .make-sm-column(1);
    .make-xs-column(2);
}
.biobank .biobank-halfinput-div {
    .make-sm-column(5);
    .make-xs-column(10);
}
.biobank .biobank-thirdinput-div {
    .make-sm-column(3);
    .make-xs-column(10);
}
.biobank .biobank-input-div {
    .make-sm-column(11);
    .make-xs-column(10);
}

#decription-icon {
     cursor: pointer
}

.dropdown-menu{
  max-width: 100%;
  overflow-x: hidden !important;
}

.popover {
    position:absolute !important;
    min-width: 200px !important;
}
.dedicated-data-select {
  padding: 15px;
}

// Drag and Drop css
ul.source, ul.target {
  min-height: 50px;
  margin: 0px 25px 10px 0px;
  padding: 20px;
  border-width: 5px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
}
ul.source {
  border-color: #f8e0b1;
}
ul.target {
  border-color: #add38d;
}
.source li, .target li {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.source li {
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  color: #c09853;
}
.target li {
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
}
div.targetDt {
  max-height: 100px;
  overflow: overlay;
  margin: 0px 25px 10px 0px;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  list-style-type: none;
  list-style-position: inside;
  border-color: #add38d;
}
.targetDt a {
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #ebf5e6;
  border: 1px solid #d6e9c6;
  color: #468847;
  display: block;
}
.targetDt a:hover {
  border: 2px solid #065407;
}
.sortable-dragging {
  border-color: #ccc !important;
  background-color: #fafafa !important;
  color: #bbb !important;
}
.sortable-placeholder {
  height: 40px;
}
.source .sortable-placeholder {
  border: 2px dashed #f8e0b1 !important;
  background-color: #fefcf5 !important;
}
.target .sortable-placeholder {
  border: 2px dashed #add38d !important;
  background-color: #f6fbf4 !important;
}

.fa-exclamation-triangle{
  color: #f0ad4e;
}
