#operator {
    width: 100%;
}
#operator .edit-operator-form{

}
#operator .col-md-6{
border-radius: 5px;
border-style:outset;
background-color:#FFF;
height: 30px;
font-size: 15px;
font-family: "Times New Roman", Times, serif;
}
#operator .date{
height: 30px;
}
#operator .legend{
font-size: 35px;
}
#list .legend{
font-size: 35px;
}
#list .oper_val{
font-family: "Times New Roman", Times, serif;
font-size: 16px;
}
#edit{
font-family: "Times New Roman", Times, serif;
font-size: 16px;


}
